/* Style login form */
form {
    width: 400px;
    margin: auto;
    padding: 20px;
}
/* Style the login form elements */
label, input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
input[type="text"], input[type="password"] {
    padding: 8px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 8px;
    font-size: 16px;
    background-color: #025ca6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}
input[type="submit"]:hover {
    background-color: #4c6dc0;
}
input[name="dept"],input[name="code"],input[name="cred"] {
    display: inline;
    margin-bottom: 10px;
    width: 18%;}
#course {
    display: inline;
    margin-bottom: 10px;
    width: 20%;
}
p[name=error] {
    color:red;
}
.major {
    color:rgb(70, 70, 70);
    text-align: left;
}
.name {
    color:rgb(70, 70, 70);
    text-align: right;
}
body {
    background-color: #025ca6;
}
.col-sm-1{
    background-color: #025ca6;
}
div {
    background-color: white;
}
#login{
    background-color: white;
}