@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
/*
0 - 600px // PHONE
600 - 900px //TABLET PORTRAIT
900 -- 1200px //TABLET LANDSCAPE
[1200 -- 1800]  // DESKTOP
1800 ++  // LARGE DESKTOP


$breakepoint
--phone
--tab-port
--tab-land
--big-desktop


//em

1em = 16px
px/16
example:
600/16 

*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h2 {
  color: white;
  font-family: "Roboto", sans-serif;
}
p {
  color: white;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
label {
  color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.form {
  align-items: center;
  background-color: #025ca6;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
}
.header {
  background-color: #025ca6;
  color: white;
  padding: 0 10px;
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
  position: fixed;
  margin-bottom: 10px;
}
.error {
  border: solid red;
}
#time {
  text-align: left;
}
#user {
  text-align: right;
  padding-right: 70px;
}
#notification {
  text-align: center;
}
input {
  margin: 8px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 0 5px;
  border-radius: 5px;
  border: solid gray;
}
.submit {
  border: none;
}
#title {
  color: white;
}
.name {
  color: white;
}
.content {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  table-layout: fixed;
  margin-left: 230px;
  margin-top: 60px;
  padding: 10px;
  border-radius: 5px;
}
.sidebar {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  padding: 20px 10px 10px;
  width: 200px;
  z-index: 1;
  left: 10px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  border-radius: 5px;
  margin-top: 60px;
}
.table {
  width: 100%;
}
th {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  background: lightgray;
}
button {
  font-family: Roboto, sans-serif;
}
img {
  float: right;
}

/* main nav bar design */
.main_nav_bar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
}

.navbar a {
  font-size: 3rem;
}

@media (max-width: 37.5em) {
  .main_nav_bar {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 56.25em) {
  .main_nav_bar {
    width: 100%;
    padding: rem;
  }
}

@media (max-width: 75em) {
  .main_nav_bar {
    width: 100%;
    padding: 1rem;
  }
}

/* welcome design */

.welcome_main {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.welcome_main img {
  width: 100%;
  height: 100%;
}

.welcome_main_left_div h1 {
  font-size: 13rem;
  margin-top: 4rem;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #025ca6;
  font-weight: lighter;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.welcome_main_left_div h2 {
  font-size: 8rem;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #025ca6;
  font-weight: lighter;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 37.5em) {
  .welcome_main {
    width: 100%;
    padding: 1rem;
  }
  .welcome_main_left_div h1 {
    font-size: 5rem;
    margin-top: 4rem;
    padding: 1rem;
  }
  .welcome_main_left_div h2 {
    font-size: 2rem;
    padding: 1rem;
  }
  .welcome_main_right_div {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .welcome_main {
    width: 100%;
    padding: 1rem;
  }
  .welcome_main_left_div h1 {
    font-size: 10rem;
    margin-top: 4rem;
    padding: 1rem;
  }
  .welcome_main_left_div h2 {
    font-size: 8rem;
    padding: 1rem;
  }
  .welcome_main_right_div {
    display: none;
  }
}

@media (max-width: 75em) {
  .welcome_main {
    width: 100%;
    padding: 1rem;
  }
  .welcome_main_left_div h1 {
    font-size: 6rem;
    margin-top: 4rem;
    padding: 1rem;
  }
  .welcome_main_left_div h2 {
    font-size: 3rem;
    padding: 1rem;
  }
  .welcome_main_left {
    display: none;
  }
}

/* welcome card design  */
.welcome-card {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem;
  overflow: hidden;
  height: auto;
}

.welcome-card img {
  width: 40rem;
  height: 40rem;
}
.welcome-card a {
  color: #025ca6;
  font-size: 3rem;
}

.welcome-card a:hover {
  color: #025ca6;
}

.card-title {
  font-size: 4rem;
  color: #025ca6;
  font-family: "Lato", sans-serif;
  padding: 2rem;
}

.card-text {
  font-size: 3rem;
  color: #025ca6;
  font-family: "Lato", sans-serif;
  padding: 1.5rem;
}
