// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
// fonts

// variables
$font-size: 62.5%;

$primary-font: "Lato", sans-serif;
$Sacramento: "Sacramento", cursive;
$Nothing: "Nothing You Could Do", cursive;
$Gruppo: "Gruppo", cursive;
$Limelight: "Limelight", cursive;
$Sonsie: "Sonsie One", cursive;
// color
$primary-color: #025ca6;
$bg-color: #ffffff;

// Responsive mixing

@import "./mixing";

//

// footer css

.footer-section {
  width: 100%;
  height: auto;
  background-color: $primary-color;

  &__main-div {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
  }

  &__left-div {
    padding: 5rem;
    font-size: 2rem;
  }
  &__right-div {
    padding: 5rem;
    font-size: 3rem;
  }
  a {
    color: $bg-color;
  }

  a:hover {
    color: #ccc;
  }
}

// main content
.general-container {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  min-height: 70rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
